.fw700{
    font-weight: 700;
}
.dashboard{
    left: 25px;
    top: 53px;
    background: #101317;
    box-shadow: 2px 3px 42px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding: 21px 15px 200px 15px;
    }
.userRow{
    background: #1E262F;
    border-radius: 10px;
    margin: 30px 0;
    padding: 20px 15px;
}
.user {
    justify-content: center;
    align-items: center;
    text-align: center;
    width:60px;
    height: 60px;
    padding: 6px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image:  url('https://via.placeholder.com/400x200');
  }
.circle-bar p{
    margin: 0;
}
.Digits{
    font-size: 16px;
    font-weight: 700;
}
.subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: #BDBCBE;

}
.content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.date{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
.date h5{
    font-size: 16px;
}

.arrow-button{
    height: 80px;
    background-color: #000;
    border-radius: 8px;
}
.r-icon{
    transform: rotate(-45deg);
}
.plus-minus{
    background-color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 32px;
    border-radius: 4px;
}
.plus-minus .plus,.minus{
    display: flex;
    bottom: 50%;
    right: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bell-icon{
    background: #36F5C7;
    border-radius: 8px;
    color: #000;
}